body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-weight: 600;

  .row {
    align-items: flex-start;
  }

  .navbar-logo {
    margin-top: 44px;

    a {
      font-size: 28px;
      color: #f6c200;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
    }
  }

  /* domyślnie ukryty checkbox */
  .nav-toggle {
    display: none;
  }

  .burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
    margin-top: 44px;

    span {
      display: block;
      height: 3px;
      background-color: #fff;
      border-radius: 2px;
    }
  }

  .navbar-menu {
    margin-top: 55px;
    text-align: right;

    a {
      margin-left: 25px;
      color: #fff;
      text-decoration: none;
      font-size: 10px;
      text-transform: uppercase;
      transition: color 0.3s;

      &:hover {
        color: #f6c200;
      }
    }
  }
}

.hero {
    background: url("https://i.postimg.cc/VkfqnxzW/pexels-catiamatos-1072179.jpg")
      no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 120px 0;
    text-align: center;
    height: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center; // poziomo
    align-items: center; // pionowo
    text-align: center;
  
    .hero-subtitle {
      font-family: "Lora", serif;
      font-style: italic;
      font-size: 32px;
      margin-bottom: 52px;
    }
  
    .hero-title {
      font-size: 55px;
      font-weight: 700;
      margin-bottom: 59px;
    }
  
    .btn-primary {
      background-color: #f6c200;
      color: #fff;
      padding: 15px 30px;
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      border-radius: 4px;
      font-size: 14px;
    }
  }

  .section-title {
    font-size: 30px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 19px;
  }

  .section-subtitle {
    font-style: italic;
    color: #888;
    font-size: 17px;
    margin-bottom: 80px;
  }

  .services {
    padding: 60px 0;
    text-align: center;

    .service {
      padding: 20px;
    }
  }