body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  font-weight: 600;

  .row {
    align-items: flex-start;
  }

  .navbar-logo {
    margin-top: 44px;

    a {
      font-size: 28px;
      color: #f6c200;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
    }
  }
}
